.wrapper {
    max-width: 345px;
    margin: 10px;
    align-self: flex-start;
    color: black;
    background-color: lightgreen !important;
    text-align: left;
    border-radius: 50px 60px 60px 10px !important;
}